<h1>Books</h1>
<table>
	<thead class="">
		<tr>
			<td>Title</td>
			<td>Body</td>
			<td colspan="3"></td>
		</tr>
	</thead>
	<% @books.each do |book| %>
		<tbody>
			<tr>
				<td><%= book.title %></td>
				<td><%= book.body %></td>
				<td><%= link_to "Show", book_path(book) %></td>
				<td><%= link_to "Edit", edit_book_path(book) %></td>
				<td><%= link_to "Destroy", book_path(book), method: :delete, "data-confirm" => "Are you sure?" %></td>
			</tr>
		</tbody>
	<% end %>
</table>

<h2>New book</h2>
<%= form_for(@book) do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>
	<%= f.label :Body %>
	<%= f.text_area :body %>
	<div><%= f.submit "Create Book" %></div>
<% end %>